[submodule "ADS"]
	path = ADS
	url = ./ADS
[submodule "Mobile"]
	path = Mobile
	url = ./Mobile
[submodule "Orienteer"]
	path = Orienteer
	url = ./Orienteer
[submodule "Security"]
	path = Security
	url = ./Security
[submodule "SocketExample"]
	path = SocketExample
	url = ./SocketExample
[submodule "DB3"]
	path = DB3
	url = ./DB3
